<div class="banner">
    <div class="SSF">
        <img class="ssf-logo" src="../../assets/SSF_logo.png" >
        <h2>Social Service Finder Store <fa-icon [icon]="storeIcon"></fa-icon></h2>
        <h4>Redeem Your Rewards Here! <fa-icon [icon]="emojiIcon"></fa-icon></h4>
    </div>
</div>

<div class="brands">
    <h2>Our Partners</h2>
    <div class="underline-title"></div>
    <div class="content">
        <div fxLayout="row wrap" fxLayoutGap="16px grid">
          <div fxFlex="25%" >
            <mat-card class="mat-elevation-z4 brand-card" >
              <img mat-card-image class="brand-image" src="../../assets/subway.svg">
            </mat-card>
          </div>
          <div fxFlex="25%" >
            <mat-card class="mat-elevation-z4 brand-card" >
              <img mat-card-image class="brand-image" src="../../assets/albertsons.svg">
            </mat-card>
          </div>
          <div fxFlex="25%" >
            <mat-card class="mat-elevation-z4 brand-card" >
              <img mat-card-image class="brand-image" src="../../assets/dominos.png">
            </mat-card>
          </div>
          <div fxFlex="25%" >
            <mat-card class="mat-elevation-z4 brand-card" >
              <img mat-card-image class="brand-image" src="../../assets/ralphs.png">
            </mat-card>
          </div>
          <div fxFlex="25%" >
            <mat-card class="mat-elevation-z4 brand-card" >
              <img mat-card-image class="brand-image" src="../../assets/starbucks.png">
            </mat-card>
          </div>
          <div fxFlex="25%" >
            <mat-card class="mat-elevation-z4 brand-card" >
              <img mat-card-image class="brand-image" src="../../assets/target.png">
            </mat-card>
          </div>
          <div fxFlex="25%" >
            <mat-card class="mat-elevation-z4 brand-card" >
              <img mat-card-image class="brand-image" src="../../assets/walmart.jpeg">
            </mat-card>
          </div>
          <div fxFlex="25%" >
            <mat-card class="mat-elevation-z4 brand-card" >
              <img mat-card-image class="brand-image" src="../../assets/old.png">
            </mat-card>
          </div>

          <div fxFlex="25%" >
            <mat-card class="mat-elevation-z4 brand-card" >
              <img mat-card-image class="brand-image" src="../../assets/amazon.png">
            </mat-card>
          </div>

          <div fxFlex="25%" >
            <mat-card class="mat-elevation-z4 brand-card" >
              <img mat-card-image class="brand-image" src="../../assets/hm.png">
            </mat-card>
          </div>

          <div fxFlex="25%" >
            <mat-card class="mat-elevation-z4 brand-card" >
              <img mat-card-image class="brand-image" src="../../assets/costco.png">
            </mat-card>
          </div>

          <div fxFlex="25%" >
            <mat-card class="mat-elevation-z4 brand-card" >
              <img mat-card-image class="brand-image" src="../../assets/sams.png">
            </mat-card>
          </div>

        </div>
        </div>
</div>