<mat-toolbar color="primary">
	<mat-toolbar-row>
    <a routerLink="">
      Social Service Finder
    </a>
		<div class="nav" ></div>
		<nav >
			<span>
				<button *ngIf="!loginStatus" id="loginBtn" mat-button [routerLink]="['/login']"> <fa-icon [icon]="loginIcon"></fa-icon> &nbsp; LOGIN </button>
				<button *ngIf="!loginStatus" id="registerBtn" mat-button [routerLink]="['/register']"> <fa-icon [icon]="registerIcon"></fa-icon> &nbsp; REGISTER </button>
				<button *ngIf="loginStatus" id="updateProfileBtn" mat-button [routerLink]="['/updateProfile']"> <fa-icon [icon]="userIcon"></fa-icon> &nbsp; EDIT PROFILE </button>
				<button *ngIf="loginStatus" id="redeemRewardsBtn" mat-button [routerLink]="['/redeemRewards']"> <fa-icon [icon]="redeemIcon"></fa-icon> &nbsp; REDEEM </button>
				<button *ngIf="loginStatus" id="dashboardBtn" mat-button [routerLink]="['/dashboard']"> <fa-icon [icon]="dashboardIcon"></fa-icon> &nbsp; DASHBOARD </button>
				<button id="contactBtn"mat-button [routerLink]="['/contact']"> <fa-icon [icon]="phoneIcon"></fa-icon> &nbsp; CONTACT US </button>
				<button *ngIf="loginStatus" id="logoutBtn" mat-button (click)="logout()" [routerLink]="['']"><fa-icon [icon]="logoutIcon"></fa-icon> &nbsp; LOGOUT </button>
			</span>
		</nav>
	</mat-toolbar-row>
</mat-toolbar>